
#header{
  background: var(--glow-1);
  position:static !important;

}

#header::before{
  content: "";
  position : absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 0;
  background: linear-gradient(to top, transparent 10%, var(--color-primary) 100%);
}

#header .container *{
  text-align: left;
}

#header .container{
  padding-top:30px;
}

#header .container >.row{
  display: flex;
  gap:40px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}

#header .container .row .column:first-child{
  flex: 1;
}

#header .container .buttons_container{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}

#header .image_container{
 
 max-width: 450px;
 max-height: 250px;
 margin:70px auto;
 padding-left: 30px;
 overflow: hidden;
 border-radius: var(--radius-2);
 transition: var(--transition);

}

#header .image_container img {
  width: 100%;
  height: auto;
  border-radius: inherit; 
  object-fit: cover; 
}

#header .image_container:hover{
  transform: scale(1.1);
}

@media (max-width: 900px){
  #header .container *{
    text-align: center;
  }

  #header .image_container{
    margin-top: 30px;
    margin-bottom: auto;
  }

  #header .container > .row{
   flex-direction: column;
   margin-top: 30px;
  }

   #header .container .buttons_container{
   justify-content: center;
   }

}

@media (max-width: 430px){
  #header .title .g-text {
    display: block; 
    margin-top: 5px; 
  }
}