.achievement_container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  gap: 40px;
}

.achievement_container .achievement{
  width: 100%;
  text-align: center;
  padding: 20px;
  background: var(--color-ui-secondary);
  border-radius: var(--radius-3);
  border: solid 2px transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--transition);
}

.achievement_container .achievement:hover{
  border-color: var(--color-primary);
  background: transparent;
  transform: scale(1.1);
}

.achievement_container .achievement .icon_container{
  margin: auto;
  width:3rem;
  height: 3rem;
  font-size: 2rem;
}

.achievement_container .achievement:hover .icon_container{
  transform: scale(1.1);
}

.achievement_container .achievement .count_row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.achievement_container .achievement .title{
  font-size: 15px;
 margin: 0;
 /* color: gray; */

}

.achievement_container .achievement small{
  text-align: center;
}

@media (max-width: 900px) {
  .achievement_container {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 700px) {
  .achievement_container {
    gap: 10px;
  }

  .achievement_container .achievement .title{
    font-size: 15px;
  }
  .achievement_container .achievement:hover .icon_container{
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
  }

  .achievement_container .achievement small{
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .achievement_container .achievement {
    flex-direction: column;
  }
}